#img-formateur {
  float: left;
  max-width: 45%;
  margin-right: 10px;
  margin-bottom: 10px;
}
.path-formation {
  .views-row {
    background-color: rgba(0, 0, 255, 0.1);
    padding: 10px;
    border-radius: 6px;
    margin: 0 0 20px;
    h3.title_training {
      a {
        color: @rouge-coopernet;
      }
    }
    .views-field-field-training-summary {
      h3 {
        color: @rouge-coopernet;
        color: #000;
        font-size: 1.2em;
      }
    }

  }
}